<?xml version="1.0"?>
<config>
    <modules>
        <degriz_snappixel>
            <version>0.1.0</version>
        </degriz_snappixel>
    </modules>
    <global>
        <helpers>
            <degriz_snappixel>
                <class>Degriz_Snappixel_Helper</class>
            </degriz_snappixel>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <degriz_snappixel before="Mage_Adminhtml">Degriz_Snappixel_Adminhtml</degriz_snappixel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <degriz_snappixel>
                    <file>degriz/snappixel.xml</file>
                </degriz_snappixel>
            </updates>
        </layout>
    </frontend>
</config>